{% extends "generic.html" %}

{% block menu %}green{% endblock %}

{% block styles %}
{% load static %}
<script src="{% static 'timeline/js/jquery.min.js' %}"></script>
<script>
function createChart(e) {
  const days = document.querySelectorAll(".chart-values li");
  const tasks = document.querySelectorAll(".chart-bars li");
  const daysArray = [...days];

  tasks.forEach(el => {
    const duration = el.dataset.duration.split("-");
    const startDay = duration[0];
    const endDay = duration[1];
    let left = 0,
      width = 0;

    if (startDay.endsWith("½")) {
      const filteredArray = daysArray.filter(day => day.textContent == startDay.slice(0, -1));
      left = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth / 2;
    } else {
      const filteredArray = daysArray.filter(day => day.textContent == startDay);
      left = filteredArray[0].offsetLeft;
    }

    if (endDay.endsWith("½")) {
      const filteredArray = daysArray.filter(day => day.textContent == endDay.slice(0, -1));
      width = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth / 2 - left;
    } else {
      const filteredArray = daysArray.filter(day => day.textContent == endDay);
      width = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth - left;
    }

    // apply css
    el.style.left = `${left-80}px`;
    el.style.width = `${width}px`;
    if (e.type == "load") {
      el.style.backgroundColor = el.dataset.color;
      el.style.opacity = 1;
    }
  });
}

window.addEventListener("load", createChart);
window.addEventListener("resize", createChart);

</script>
<style type="text/css">
        .off-canvas-sidebar, .sidebar {
            background: linear-gradient(0deg,#ff002b,#ff4800);
        }

/* CHART
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper ul {
  list-style: none;
}

.chart-wrapper a {
  text-decoration: none;
  color: inherit;
}

.chart-wrapper {
  max-width: 1150px;
  padding: 0 10px;
  /*margin: 0 auto;*/
}

/* CHART-VALUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-values {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 100px;
}

.chart-wrapper .chart-values li {
  flex: 1;
  min-width: 50px;
  text-align: center;
  font-size: 10pt;
}

.chart-wrapper .chart-values li:not(:last-child) {
  position: relative;
}

.chart-wrapper .chart-values li:not(:last-child)::before {
  content: '';
  position: absolute;
  right: 0;
  height: 300px;
  border-right: 1px solid #cccccc;
}

/* CHART-BARS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-lane {
    clear: left;
    height:auto;
    display: flex;
}

.chart-wrapper .chart-lane .chart-title {
    float: left;
    width: 80px;
    margin-bottom: 1rem;
    padding: 10px 10px;
    color: var(--white);
}

.chart-wrapper .chart-lane ul {
    float: left;
    padding-inline-start: 0px;
    flex: 1 1 100%;
}

.chart-wrapper .chart-bars li {
  position: relative;
  color: var(--white);
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  width: 0;
  opacity: 0;
  transition: all 0.65s linear 0.2s;
}

.chart-wrapper .chart-bars li:first-child {
    margin-top: 15px;
}

.chart-wrapper .chart-lane ul.lane {
    background: rgba(255, 255, 255, 50%);
}

@media screen and (max-width: 600px) {
  .chart-wrapper .chart-bars li {
    padding: 10px;
  }
}
</style>
{% endblock %}

{% block title %}Roadmap{% endblock %}

{% block dashboard_active %}active {% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ plan.name }}</h4>
            </div>

            <div class="card-body">
                <div class="chart-wrapper">
                    <ul class="chart-values">
                        {% for month in plan.months %}
                        <li>{{ month }}</li>
                        {% endfor %}
                    </ul>
                    {% for lane in plan.lanes %}
                        <div class="chart-lane">
                            <div class="chart-title" style="background-color: {{ lane.color }};">{{ lane.name }}</div>
                            <ul class="chart-bars lane" style="background-color: {{ lane.background_color }};">
                                {% for item in lane.items %}
                                <li data-duration="{{ item.start_date_str }}-{{ item.end_date_str }}" data-color="{{ lane.color }}">{{ item.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}