{% extends "generic.html" %}

{% load i18n %}
{% block title %}Active Users{% endblock %}

{% block active_users_active %}active{% endblock %}

{% block styles %}
	{% load static %}
	<script src="{% static 'timeline/js/roundrect.js' %}"></script>
	<script src="{% static 'timeline/js/canvas2svg.js' %}"></script>
	<style type="text/css">
		.card-body img.app_icon {
			width: 18px;
			height: 18px;
			vertical-align: middle;
		}
		.card-ratings .card-header .dropdown {
    		float: right;
    		color: #ccc;
		}
		.card-ratings .card-header .title {
    		margin-right: 20px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row">

		<div class="col-md-12">

			<div class="card card-ratings">
				<div class="card-header">
					<h4 class="card-title title d-inline">{% trans "active users of the" %} FRITZ!Apps</h4>
				</div>

				<div class="card-body">
					<canvas id="canvas_current" style="background-color:#27293d;" width="1460" height="500"></canvas>

					<div class="table-responsive">
						<table class="table tablesorter " id="">
							<thead class=" text-primary">
								<tr>
									<th>App</th>
									<th>Nutzer</th>
									<th>Vormonat</th>
									<th>Vorjahr</th>
								</tr>
							</thead>
							<tbody>
								{% for app in app_list %}
									<tr>
										<td><img src="/static/timeline/img/apps/{{ app.name }}.png" class="app_icon" />&nbsp;&nbsp;<a href="/timeline/apps/{{ app.id }}/">{{ app.name }}</a></td>
										<td>{{ app.current_users.users|cut:"0.00" }}</td>
										<td>{{ app.last_month_users.users|cut:"0.00" }} ({{ app.delta_last_month|cut:"0.00" }}%)</td>
										<td>{{ app.twelve_month_ago_users.users|cut:"0.00" }} ({{ app.delta_last_year|cut:"0.00" }}%)</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card card-ratings">
				<div class="card-header">
					<h4 class="card-title title d-inline">{% trans "active users of the" %} MyFRITZ!App</h4>
				</div>

				<div class="card-body">
					<canvas id="canvas_myf" style="background-color:#27293d;" width="1460" height="500"></canvas>
				</div>
			</div>

			<div class="card card-ratings">
				<div class="card-header">
					<h4 class="card-title title d-inline">{% trans "active users of the" %} FRITZ!App Fon</h4>
				</div>

				<div class="card-body">
					<canvas id="canvas_fon" style="background-color:#27293d;" width="1460" height="500"></canvas>
				</div>
			</div>

			<div class="card card-ratings">
				<div class="card-header">
					<h4 class="card-title title d-inline">{% trans "active users of the" %} FRITZ!App WLAN</h4>
				</div>

				<div class="card-body">
					<canvas id="canvas_wlan" style="background-color:#27293d;" width="1460" height="500"></canvas>
				</div>
			</div>

			<div class="card card-ratings">
				<div class="card-header">
					<h4 class="card-title title d-inline">{% trans "active users of the" %} FRITZ!App Smart Home</h4>
				</div>

				<div class="card-body">
					<canvas id="canvas_smart" style="background-color:#27293d;" width="1460" height="500"></canvas>
				</div>
			</div>

			<div class="card card-ratings">
				<div class="card-header">
					<h4 class="card-title title d-inline">{% trans "active users of the" %} FRITZ!App TV</h4>
				</div>

				<div class="card-body">
					<canvas id="canvas_tv" style="background-color: #27293d;" width="1460" height="500"></canvas>
				</div>
			</div>

		</div>
	</div>



{% endblock %}

{% block scripts %}
	{% load static %}
	<script src="{% static 'timeline/js/Chart.min.js' %}"></script>
	<script src="{% static 'timeline/js/Chart.labels.js' %}"></script>

<script>
	var ratingsLabels = [{% for timeline_item in chart_data.timeline %}'{{ timeline_item }}', {% endfor %}];
	{% with chart_data.timeline|last as last %}
    var currentLabels = ['{{ last }}', ];
    var currentText = '{{ last }}';
	{% endwith %}

	var config_current = {
		type: 'bar',
		data: {
			labels: currentLabels,
			datasets: []
		},
		plugins: [ChartDataLabels /* https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#integration */],
		options: {
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "month" %}',
						color: '#fff',
					},
					ticks: {
						color: '#fff',
					},
					grid: {
						display: false,
						color: '#eeeeee55'
					},
				},
				y: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "number of active users" %}',
						color: '#fff',
					},
					grid: {
						color: '#eeeeee55'
					},
					min: 0,
					max: 1600000,
					ticks: {
          				stepSize: 100000,
          				color: '#fff',
					}
				}
			},
			plugins: {
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						color: '#fff'
					}
				},
				title: {
					display: true,
					text: '{% trans "active users of the" %} FRITZ!Apps in ' + currentText,
					font: {
					  	size: 27,
					  	weight: 'normal',
					  	family: 'Poppins,sans-serif',
					},
					color: '#fff',
				},
				datalabels: {
					backgroundColor: function(context) {
          				return '#00000088';
        			},
        			borderRadius: 4,
					color: '#fff',
					padding: 1,
				}
			},
			animation: {
      			duration: 1,
				onComplete: function() {
					var chartInstance = usersCurrentChart; //this.chart;
					var ctx = chartInstance.ctx;
					ctx.textAlign = 'center';
					ctx.textBaseline = 'bottom';

					var sums = [0, 0, 0, 0, 0];
					this.data.datasets.forEach(function(dataset, i) {
						console.log('bar' + dataset.stack);
						dataset.data.forEach(function(bar, index) {
							var data = dataset.data[index];
							if (dataset.stack == 'tv') {
								sums[4] += data;
							} else if (dataset.stack == 'smart') {
								sums[3] += data;
							} else if (dataset.stack == 'wlan') {
								sums[2] += data;
							} else if (dataset.stack == 'fon') {
								sums[1] += data;
							} else if (dataset.stack == 'myfritz') {
								sums[0] += data;
							}
						});
					});
					sums.forEach(function(v, i) {
						ctx.fillStyle = "#fff";
						ctx.fillText(v, (i*185) + 300, 60);
					});
				}
			}
		}
	};
	var config_myf = {
		type: 'bar',
		data: {
			labels: ratingsLabels,
			datasets: []
		},
		plugins: [ChartDataLabels], /* https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#integration */
		options: {
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "month" %}',
						color: '#fff',
					},
					ticks: {
						color: '#fff',
					},
					grid: {
						display: false,
						color: '#eeeeee55'
					},
				},
				y: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "number of active users" %}',
						color: '#fff',
					},
					grid: {
						color: '#eeeeee55'
					},
					min: 0,
					max: 1600000,
					ticks: {
          				stepSize: 100000,
          				color: '#fff',
					}
				}
			},
			plugins: {
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						color: '#fff'
					}
				},
				title: {
					display: true,
					text: '{% trans "active users of the" %} MyFRITZ!App',
					font: {
						size: 27,
						weight: 'normal',
						family: 'Poppins,sans-serif',
					},
					color: '#fff',
				},
				datalabels: {
					backgroundColor: function(context) {
						return '#00000088';
					},
					borderRadius: 4,
					color: '#fff',
					padding: 1,
				}
			}
		}
	};
	var config_fon = {
		type: 'bar',
		data: {
			labels: ratingsLabels,
			datasets: []
		},
		plugins: [ChartDataLabels], /* https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#integration */
		options: {
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "month" %}',
						color: '#fff',
					},
					ticks: {
						color: '#fff',
					},
					grid: {
						display: false,
						color: '#eeeeee55'
					},
				},
				y: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "number of active users" %}',
						color: '#fff',
					},
					grid: {
						color: '#eeeeee55'
					},
					min: 0,
					max: 1600000,
					ticks: {
          				stepSize: 100000,
          				color: '#fff',
					}
				}
			},
			plugins: {
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						color: '#fff'
					}
				},
				title: {
					display: true,
					text: '{% trans "active users of the" %} FRITZ!App Fon',
					font: {
						size: 27,
						weight: 'normal',
						family: 'Poppins,sans-serif',
					},
					color: '#fff',
				},
				datalabels: {
					backgroundColor: function(context) {
						return '#00000088';
					},
					borderRadius: 4,
					color: '#fff',
					padding: 1,
				}
			}
		}
	};
	var config_wlan = {
		type: 'bar',
		data: {
			labels: ratingsLabels,
			datasets: []
		},
		plugins: [ChartDataLabels], /* https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#integration */
		options: {
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "month" %}',
						color: '#fff',
					},
					ticks: {
						color: '#fff',
					},
					grid: {
						display: false,
						color: '#eeeeee55'
					},
				},
				y: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "number of active users" %}',
						color: '#fff',
					},
					grid: {
						color: '#eeeeee55'
					},
					min: 0,
					max: 1600000,
					ticks: {
          				stepSize: 100000,
          				color: '#fff',
					}
				}
			},
			plugins: {
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						color: '#fff'
					}
				},
				title: {
					display: true,
					text: '{% trans "active users of the" %} FRITZ!App WLAN',
					font: {
						size: 27,
						weight: 'normal',
						family: 'Poppins,sans-serif',
					},
					color: '#fff',
				},
				datalabels: {
					backgroundColor: function(context) {
						return '#00000088';
					},
					borderRadius: 4,
					color: '#fff',
					padding: 1,
				}
			}
		}
	};
	var config_smart = {
		type: 'bar',
		data: {
			labels: ratingsLabels,
			datasets: []
		},
		plugins: [ChartDataLabels], /* https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#integration */
		options: {
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "month" %}',
						color: '#fff',
					},
					ticks: {
						color: '#fff',
					},
					grid: {
						display: false,
						color: '#eeeeee55'
					},
				},
				y: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "number of active users" %}',
						color: '#fff',
					},
					grid: {
						color: '#eeeeee55'
					},
					min: 0,
					max: 1600000,
					ticks: {
          				stepSize: 100000,
          				color: '#fff',
					}
				}
			},
			plugins: {
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						color: '#fff'
					}
				},
				title: {
					display: true,
					text: '{% trans "active users of the" %} FRITZ!App Smart Home',
					font: {
						size: 27,
						weight: 'normal',
						family: 'Poppins,sans-serif',
					},
					color: '#fff',
				},
				datalabels: {
					backgroundColor: function(context) {
						return '#00000088';
					},
					borderRadius: 4,
					color: '#fff',
					padding: 1,
				}
			}
		}
	};
	var config_tv = {
		type: 'bar',
		data: {
			labels: ratingsLabels,
			datasets: []
		},
		plugins: [ChartDataLabels], /* https://chartjs-plugin-datalabels.netlify.app/guide/getting-started.html#integration */
		options: {
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "month" %}',
						color: '#fff',
					},
					ticks: {
						color: '#fff',
					},
					grid: {
						display: false,
						color: '#eeeeee55'
					},
				},
				y: {
					stacked: true,
					display: true,
					title: {
						display: true,
						text: '{% trans "number of active users" %}',
						color: '#fff',
					},
					grid: {
						color: '#eeeeee55'
					},
					min: 0,
					max: 1600000,
					ticks: {
          				stepSize: 100000,
          				color: '#fff',
					}
				}
			},
			plugins: {
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						color: '#fff'
					}
				},
				title: {
					display: true,
					text: '{% trans "active users of the" %} FRITZ!App TV',
					font: {
						size: 27,
						weight: 'normal',
						family: 'Poppins,sans-serif',
					},
					color: '#fff',
				},
				datalabels: {
					backgroundColor: function(context) {
						return '#00000088';
					},
					borderRadius: 4,
					color: '#fff',
					padding: 1,
				}
			}
		}
	};

	{% for dataset in chart_data.datasets %}
		var stack = 'stack 0';
		if ('{{ dataset.name }}'.includes('MyFRITZ')) {
			stack = 'myfritz';
		}
		if ('{{ dataset.name }}'.includes('Fon')) {
			stack = 'fon';
		}
		if ('{{ dataset.name }}'.includes('WLAN')) {
			stack = 'wlan';
		}
		if ('{{ dataset.name }}'.includes('Smart')) {
			stack = 'smart';
		}
		if ('{{ dataset.name }}'.includes('TV')) {
			stack = 'tv';
		}

		var dataset{{ forloop.counter0 }} =  {
				label: '{{ dataset.name }}',
				backgroundColor: '{{ dataset.color }}',
				borderColor: '{{ dataset.color }}',
				{% if dataset.solid %}
				{% else %}
				borderDash: [5, 5],
				{% endif %}
				fill: false,
				data: [ {% with dataset.data|last as last %}{{ last }}{% endwith %}],
				stack: stack,
			};
		config_current.data.datasets.push(dataset{{ forloop.counter0 }});

		if ('{{ dataset.name }}'.includes('MyFRITZ')) {
			var dataset{{ forloop.counter0 }} =  {
				label: '{{ dataset.name }}',
				backgroundColor: '{{ dataset.color }}',
				borderColor: '{{ dataset.color }}',
				{% if dataset.solid %}
				{% else %}
				borderDash: [5, 5],
				{% endif %}
				fill: false,
				data: [ {% for item in dataset.data %}{{ item|cut:"0.00" }}, {% endfor %}],
			};
			config_myf.data.datasets.push(dataset{{ forloop.counter0 }});
		}
		if ('{{ dataset.name }}'.includes('Fon')) {
			var dataset{{ forloop.counter0 }} =  {
				label: '{{ dataset.name }}',
				backgroundColor: '{{ dataset.color }}',
				borderColor: '{{ dataset.color }}',
				{% if dataset.solid %}
				{% else %}
				borderDash: [5, 5],
				{% endif %}
				fill: false,
				data: [ {% for item in dataset.data %}{{ item|cut:"0.00" }}, {% endfor %}],
			};
			config_fon.data.datasets.push(dataset{{ forloop.counter0 }});
		}
		if ('{{ dataset.name }}'.includes('WLAN')) {
			var dataset{{ forloop.counter0 }} =  {
				label: '{{ dataset.name }}',
				backgroundColor: '{{ dataset.color }}',
				borderColor: '{{ dataset.color }}',
				{% if dataset.solid %}
				{% else %}
				borderDash: [5, 5],
				{% endif %}
				fill: false,
				data: [ {% for item in dataset.data %}{{ item|cut:"0.00" }}, {% endfor %}],
			};
			config_wlan.data.datasets.push(dataset{{ forloop.counter0 }});
		}
		if ('{{ dataset.name }}'.includes('Smart')) {
			var dataset{{ forloop.counter0 }} =  {
				label: '{{ dataset.name }}',
				backgroundColor: '{{ dataset.color }}',
				borderColor: '{{ dataset.color }}',
				{% if dataset.solid %}
				{% else %}
				borderDash: [5, 5],
				{% endif %}
				fill: false,
				data: [ {% for item in dataset.data %}{{ item|cut:"0.00" }}, {% endfor %}],
			};
			config_smart.data.datasets.push(dataset{{ forloop.counter0 }});
		}
		if ('{{ dataset.name }}'.includes('TV')) {
			var dataset{{ forloop.counter0 }} =  {
				label: '{{ dataset.name }}',
				backgroundColor: '{{ dataset.color }}',
				borderColor: '{{ dataset.color }}',
				{% if dataset.solid %}
				{% else %}
				borderDash: [5, 5],
				{% endif %}
				fill: false,
				data: [ {% for item in dataset.data %}{{ item|cut:"0.00" }}, {% endfor %}],
			};
			config_tv.data.datasets.push(dataset{{ forloop.counter0 }});
		}
	{% endfor %}

	function toggleMarkers() {
		// config.options.markers.display = !config.options.markers.display;
		// ratingChart.chart.update();
	}

	function tweakLib(){
  		C2S.prototype.getContext = function (contextId) {
			if (contextId=="2d" || contextId=="2D") {
				return this;
			}
			return null;
		}

		C2S.prototype.style = function () {
			return this.__canvas.style
		}

		C2S.prototype.getAttribute = function (name) {
			return this[name];
		}

		C2S.prototype.addEventListener =  function(type, listener, eventListenerOptions) {
			// console.log("canvas2svg.addEventListener() not implemented.")
		}
	}

	function exportAsSVG() {

		console.log("export svg");
	}

	var usersCurrentChart = {};
	var usersMyFChart = {};
	var usersFonChart = {};
	var usersWLANChart = {};
	var usersSmartChart = {};
	var usersTVChart = {};

	window.onload = function() {
		var ctx_current = document.getElementById('canvas_current').getContext('2d');
		usersCurrentChart = new Chart(ctx_current, config_current);
		// window.myLine = usersCurrentChart;

		var ctx_myf = document.getElementById('canvas_myf').getContext('2d');
		usersMyFChart = new Chart(ctx_myf, config_myf);
		// window.myLine = usersMyFChart;

		var ctx_fon = document.getElementById('canvas_fon').getContext('2d');
		usersFonChart = new Chart(ctx_fon, config_fon);
		// window.myLine = usersFonChart;

		var ctx_wlan = document.getElementById('canvas_wlan').getContext('2d');
		usersWLANChart = new Chart(ctx_wlan, config_wlan);
		// window.myLine = usersWLANChart;

		var ctx_smart = document.getElementById('canvas_smart').getContext('2d');
		usersSmartChart = new Chart(ctx_smart, config_smart);
		// window.myLine = usersSmartChart;

		var ctx_tv = document.getElementById('canvas_tv').getContext('2d');
		usersTVChart = new Chart(ctx_tv, config_tv);
		// window.myLine = usersTVChart;
	};
	</script>
{% endblock %}