{% extends "generic.html" %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_active %}active {% endblock %}

{% block content %}
      			<div class="row">
      		
      				<div class="col-md-6">
      				
      					<div class="card">
      						<div class="card-header">
                				<h4 class="card-title">Useful links</h4>
              				</div>
              				
              				<div class="card-body">

              					<div class="alert alert-info alert-with-icon">
                  					<span data-notify="icon" class="tim-icons icon-link-72"></span>
									<span data-notify="message"><a href="" target="_blank">Jazz: Android Backlog</a></span>
                				</div>
								<div class="alert alert-info alert-with-icon">
                  					<span data-notify="icon" class="tim-icons icon-link-72"></span>
									<span data-notify="message"><a href="" target="_blank">Jazz: iOS Backlog</a></span>
                				</div>
								<div class="alert alert-info alert-with-icon">
                  					<span data-notify="icon" class="tim-icons icon-link-72"></span>
									<span data-notify="message"><a href="" target="_blank">Wiki</a></span>
                				</div>
								<div class="alert alert-info alert-with-icon">
                  					<span data-notify="icon" class="tim-icons icon-link-72	"></span>
									<span data-notify="message"><a href="http://jazzfile.avm.de/PM/PMGui/App-Prototypen/" target="_blank">App Prototypes</a></span>
                				</div>

              				</div>
      					</div>
      				</div>
      			</div>

{% endblock %}