{% extends "generic.html" %}

{% block title %}Rating input{% endblock %}

{% block rating_input_active %}active {% endblock %}

{% block styles %}
    <style type="text/css">
        .btn-primary {
            background: #e14eca;
            background-image: linear-gradient(to bottom left,#1d8cf8,#11cdef,#1d8cf8);
            background-size: 210% 210%;
            background-position: 100% 0;
            background-color: #1d8cf8;
            transition: all .15s ease;
            box-shadow: none;
            color: #fff;
        }
        @keyframes rotate {
            from { transform: rotate(0deg) }
            to { transform: rotate(360deg) }
        }
        #refresh-button-myf_ios {
            animation-play-state: running;
            border-style: none;
            background-color: #00000000;
            float: right;
        }
        #refresh-button-fon_ios {
            animation-play-state: running;
            border-style: none;
            background-color: #00000000;
            float: right;
        }
        #refresh-button-wlan_ios {
            animation-play-state: running;
            border-style: none;
            background-color: #00000000;
            float: right;
        }
        #refresh-button-tv_ios {
            animation-play-state: running;
            border-style: none;
            background-color: #00000000;
            float: right;
        }
        #refresh-button-smart_home_ios {
            animation-play-state: running;
            border-style: none;
            background-color: #00000000;
            float: right;
        }
        .refresh-start {
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-play-state: running;
        }
        .refresh-end {
            animation-play-state: paused !important;
        }
        input[name="myf_ios"] {
            width: 90%;
            display: inline;
        }
        input[name="fon_ios"] {
            width: 90%;
            display: inline;
        }
        input[name="wlan_ios"] {
            width: 90%;
            display: inline;
        }
        input[name="tv_ios"] {
            width: 90%;
            display: inline;
        }
        input[name="smart_home_ios"] {
            width: 90%;
            display: inline;
        }
       </style>
{% endblock %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Add Ratings</h5>
                </div>

                <form action="/timeline/ratings/add/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.date.id_for_label }}">Date</label>
                                    {{ form.date }}
                                    {{ form.date.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.myf_android.id_for_label }}">MyFRITZ!App Android</label>
                                    {{ form.myf_android }}
                                    {{ form.myf_android.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="{{ form.myf_ios.id_for_label }}">MyFRITZ!App iOS</label>
                                    {{ form.myf_ios }}
                                    <button id="refresh-button-myf_ios" onclick="refreshContent(620435371, 'myf_ios')"><img id="refresh-icon-myf_ios" src="{% static 'timeline/img/refresh-icon.svg' %}" height="12" /></button>
                                    {% if form.myf_ios.errors %}
                                        <ul id="errors-myf_ios">
                                        {% for error in form.myf_ios.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.fon_android.id_for_label }}">FRITZ!App Fon Android</label>
                                    {{ form.fon_android }}
                                    {{ form.fon_android.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="{{ form.fon_ios.id_for_label }}">FRITZ!App Fon iOS</label>
                                    {{ form.fon_ios }}
                                    <button id="refresh-button-fon_ios" onclick="refreshContent(372184475, 'fon_ios')"><img id="refresh-icon-fon_ios" src="{% static 'timeline/img/refresh-icon.svg' %}" height="12" /></button>
                                    {% if form.fon_ios.errors %}
                                        <ul id="errors-fon_ios">
                                        {% for error in form.fon_ios.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.wlan_android.id_for_label }}">FRITZ!App WLAN Android</label>
                                    {{ form.wlan_android }}
                                    {{ form.wlan_android.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="{{ form.wlan_ios.id_for_label }}">FRITZ!App WLAN iOS</label>
                                    {{ form.wlan_ios }}
                                    <button id="refresh-button-wlan_ios" onclick="refreshContent(1351324738, 'wlan_ios')"><img id="refresh-icon-wlan_ios" src="{% static 'timeline/img/refresh-icon.svg' %}" height="12" /></button>
                                    {% if form.wlan_ios.errors %}
                                        <ul id="errors-wlan_ios">
                                        {% for error in form.wlan_ios.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.tv_android.id_for_label }}">FRITZ!App TV Android</label>
                                    {{ form.tv_android }}
                                    {{ form.tv_android.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="{{ form.tv_ios.id_for_label }}">FRITZ!App TV iOS</label>
                                    {{ form.tv_ios }}
                                    <button id="refresh-button-tv_ios" onclick="refreshContent(911447974, 'tv_ios')"><img id="refresh-icon-tv_ios" src="{% static 'timeline/img/refresh-icon.svg' %}" height="12" /></button>
                                    {% if form.tv_ios.errors %}
                                        <ul id="errors-tv_ios">
                                        {% for error in form.tv_ios.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.smart_home_android.id_for_label }}">FRITZ!App Smart Home Android</label>
                                    {{ form.smart_home_android }}
                                    {{ form.smart_home_android.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label for="{{ form.smart_home_ios.id_for_label }}">FRITZ!App Smart Home iOS</label>
                                    {{ form.smart_home_ios }}
                                    <button id="refresh-button-smart_home_ios" onclick="refreshContent(1477824478, 'smart_home_ios')"><img id="refresh-icon-smart_home_ios" src="{% static 'timeline/img/refresh-icon.svg' %}" height="12" /></button>
                                    {% if form.smart_home_ios.errors %}
                                        <ul id="errors-smart_home_ios">
                                        {% for error in form.smart_home_ios.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button id="refresh-button-all_ios" class="btn btn-fill btn-secondary" onclick="refreshAll()">Update</button>
                        <button type="submit" class="btn btn-fill btn-primary">Save</button>

                        <p>{{ version_str }}</p>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="title"></h5>
                </div>

                <div class="card-body">
					<img src="{% static 'timeline/img/reviews.svg' %}" />
				</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
	{% load static %}
	<script>
	    function refreshAll() {
	        refreshContent(620435371, 'myf_ios');
	        refreshContent(372184475, 'fon_ios');
	        refreshContent(1351324738, 'wlan_ios');
	        refreshContent(911447974, 'tv_ios');
	        refreshContent(1477824478, 'smart_home_ios');
	    }
        function refreshContent(app_id, formFieldName) {
            let refreshIcon = document.getElementById("refresh-icon-" + formFieldName);
            let refreshButton = document.getElementById("refresh-button-" + formFieldName);
            let formField = document.getElementsByName(formFieldName)[0];
            refreshButton.removeAttribute("class");
            refreshButton.disabled = true;
            refreshIcon.setAttribute("class", "refresh-start");

            $.ajax({
                url: '/timeline/ajax/rating_for_ios_app/',
                data: {
                  'app_id': app_id
                },
                dataType: 'json',
                success: function (data) {
                    // console.log(data.rating)
                    formField.value = data.rating;

                    refreshIcon.addEventListener("animationiteration", function animationiteration () {
                        refreshButton.setAttribute("class", "refresh-end");
                        refreshButton.disabled = false;
                        refreshIcon.removeAttribute("class");
                        refreshIcon.removeEventListener("animationiteration", animationiteration);
                    });

                    let errorsField = document.getElementById("errors-" + formFieldName);
                    errorsField.style.display = 'none';
                }
            });
        }
	</script>
{% endblock %}