{% extends "generic.html" %}

{% load static %}

{% block styles %} 
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'timeline/css/timeline.css' %}">
	<style type="text/css">
		.card-body img.app_icon {
			width: 18px;
			height: 18px;
			vertical-align: middle;
		}
		.card-timeline .card-body i {
			color: #9a9a9a;
			font-size: 1.4em;
		}
	</style>
{% endblock %}

{% block title %}Releases{% endblock %}

{% block releases_active %}active {% endblock %}

{% block content %}

      			<div class="row">
      		
      				<div class="col-md-12">
      				
      					<div class="card">
      						<div class="card-header">
                				<h4 class="card-title">Timeline</h4>
              				</div>
              				
              				<div class="card-body">
              					
              					<section class="rocket">
									<div class="firstcol">&nbsp;</div>
									<div class="secondcol">
										<img src="{% static 'timeline/img/rocket.png' %}" class="rocket_icon" />
									</div>
									<div class="thirdcol">
										<br /><br />
										<span class="normal">schon</span>
										<span class="highlight">{{ major_releases_month }}</span>
										<span class="normal">major ,</span>
										<span class="highlight">{{ major_releases_month }}</span>
										<span class="normal">minor und</span>
										<span class="highlight">{{ major_releases_month }}</span>
										<span class="normal">patch App Releases</span>
										<span class="normal">im <b>{{ month }}</b> und</span>
										<span class="highlight">{{ releases_year }}</span>
										<span class="normal">dieses Jahr</span>
									</div>
								</section>

								<section class="timeline">

								{% for release in release_list %}

									{% if release.first %}
									</section>
									<section class="month">{{ release.pub_date|date:"M" }} {{ release.pub_date|date:"Y" }}</section>
									<section class="timeline">
									{% endif %}

									<article>
										<div class="inner">
		  									<span class="date">
												<span class="day">{{ release.pub_date|date:"d" }}<!--<sup>th</sup>--></span>
		  									</span>
		  									<h2 class="{{ release.app.mobile_os|lower }}"><img src="/static/timeline/img/apps/{{ release.app.name }}.png" class="app_icon" />&nbsp;{{ release.app.name }} {{ release.name }}</h2>
		  									<p>{{ release.changelog|linebreaksbr }}</p>
										</div>
	  								</article>
	  							{% endfor %}
	  							</section>
              					
              				</div>
      					</div>
      				</div>
      			</div>


				<div class="row">

      				<div class="col-md-12">

      					<div class="card card-timeline">
      						<div class="card-header">
                				<h4 class="card-title">Timeline</h4>
              				</div>

              				<div class="card-body">

								<div class="table-responsive">
							  		<table class="table tablesorter " id="">
										<thead class=" text-primary">
								  			<tr>
												<th>App</th>
												<th>Version</th>
												<th>Changelog</th>
												<th>Release date</th>
									  			<th></th>
								  			</tr>
										</thead>
										<tbody>

										{% for release in release_list %}
								  			<tr>
												<td><img src="/static/timeline/img/apps/{{ release.app.name }}.png" class="app_icon" />&nbsp;&nbsp;<a href="/timeline/app/{{ release.app.id }}/">{{ release.app.name }}</a></td>
												<td>{{ release.name }}</td>
												<td>{{ release.changelog|linebreaks }}</td>
												<td>{{ release.pub_date }}</td>
									  			<td class="td-actions text-right">
                          							<button type="button" rel="tooltip" onclick="location.href='/timeline/release_input?id={{ release.id }}';" title="" class="btn btn-link" data-original-title="Edit Task">
                            							<i class="tim-icons icon-pencil"></i>
                          							</button>
                        						</td>
								  			</tr>
									{% endfor %}
										</tbody>
							  		</table>
								</div>

							</div>
      					</div>
      				</div>
      			</div>
{% endblock %}