{% extends "generic.html" %}

{% load static %}

{% block styles %} 
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'timeline/css/timeline.css' %}">
<style type="text/css">
.card-body img.app_icon {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
</style>
{% endblock %}

{% block title %}Releases{% endblock %}

{% block releases_active %}active {% endblock %}

{% block content %}

	
      			<div class="row">
      		
      				<div class="col-md-12">
      				
      					<div class="card">
      						<div class="card-header">
                				<h4 class="card-title">Timeline</h4>
              				</div>
              				
              				<div class="card-body">
              					
              					<section class="rocket">
									<img src="{% static 'timeline/img/rocket.png' %}" class="rocket_icon" />
								</section>

								<section class="timeline">

								{% for release in release_list %}

									{% if release.first %}
									</section>
									<section class="month">{{ release.pub_date|date:"M" }} {{ release.pub_date|date:"Y" }}</section>
									<section class="timeline">
									{% endif %}

									<article>
										<div class="inner">
		  									<span class="date">
												<span class="day">{{ release.pub_date|date:"d" }}<!--<sup>th</sup>--></span>
		  									</span>
		  									<h2 class="{{ release.app.mobile_os|lower }}"><img src="/static/timeline/img/apps/{{ release.app.name }}.png" class="app_icon" />&nbsp;{{ release.app.name }} {{ release.name }}</h2>
		  									<p>{{ release.changelog|linebreaksbr }}</p>
										</div>
	  								</article>
	  							{% endfor %}
	  							</section>
              					
              				</div>
      					</div>
      				</div>
      			</div>


				<div class="row">

      				<div class="col-md-12">

      					<div class="card">
      						<div class="card-header">
                				<h4 class="card-title">Timeline</h4>
              				</div>

              				<div class="card-body">

								<div class="table-responsive">
							  <table class="table tablesorter " id="">
								<thead class=" text-primary">
								  <tr>
									<th>App</th>
									<th>Version</th>
									<th>Changelog</th>
									<th>Last Month (delta)</th>
								  </tr>
								</thead>
								<tbody>

									{% for release in release_list %}
								  <tr>
									<td><img src="/static/timeline/img/apps/{{ release.app.name }}.png" class="app_icon" />&nbsp;&nbsp;{{ release.app.name }}</td>
									<td>{{ release.name }}</td>
									<td>{{ release.changelog|linebreaks }}</td>
									<td>{{ release.pub_date }}</td>
								  </tr>
									{% endfor %}
								</tbody>
							  </table>
							</div>

							</div>
      					</div>
      				</div>
      			</div>
{% endblock %}