{% extends "generic.html" %}

{% load i18n %}
{% block title %}Rating input{% endblock %}

{% block release_input_active %}active {% endblock %}

{% block styles %}
    <style type="text/css">
        .btn-primary {
            background: #e14eca;
            background-image: linear-gradient(to bottom left,#1d8cf8,#11cdef,#1d8cf8);
            background-size: 210% 210%;
            background-position: 100% 0;
            background-color: #1d8cf8;
            transition: all .15s ease;
            box-shadow: none;
            color: #fff;
        }
       </style>
{% endblock %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">{% trans "Add Release" %}</h5>
                </div>

                <form action="../add/" method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.app.for_label }}">{{ form.app.label }}</label>
                                    {{ form.app }}
                                    {{ form.app.errors }}
                                </div>
                            </div>

                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.pub_date.id_for_label }}">{{ form.pub_date.label }}</label>
                                    {{ form.pub_date }}
                                    {{ form.pub_date.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                            </div>

                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.semantic_version.id_for_label }}">{{ form.semantic_version.label }}</label>
                                    {{ form.semantic_version }}
                                    {{ form.semantic_version.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.changelog.id_for_label }}">{{ form.changelog.label }}</label>
                                    {{ form.changelog }}
                                    {{ form.changelog.errors }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="title"></h5>
                </div>

                <div class="card-body">
					<img src="{% static 'timeline/img/reviews.svg' %}" />
				</div>
            </div>
        </div>
    </div>


{% endblock %}

