<!DOCTYPE html>
<html>
  	<head>
	  <meta charset="utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
	  	<link rel="icon" type="image/png" href="{% static 'timeline/img/favicon.png' %}">
    	<title>MiRo - {{ title }}</title>
    
    	<!--     Fonts and icons     -->
  		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    	<link rel="stylesheet" type="text/css" href="{% static 'timeline/css/black-dashboard.min.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'timeline/css/nucleo-icons.css' %}">

    	{% block styles %} {% endblock %}
    
  	</head>
  	<body>
    	<div class="wrapper">
    
    	<!-- side bar -->
    	<div class="sidebar" data="blue">
    	
    		<div class="sidebar-wrapper">
        		<div class="logo">
          			<a href="javascript:void(0)" class="simple-text logo-mini">
            			MiRo
          			</a>
          			<a href="javascript:void(0)" class="simple-text logo-normal">
            			Dashboard
          			</a>
        		</div>
        		
        		<ul class="nav">
          			<li class="{% block dashboard_active %} {% endblock %}">
           				<a href="./dashboard">
              				<i class="tim-icons icon-bullet-list-67"></i>
              				<p>Dashboard</p>
            			</a>
          			</li>
          			<li class="{% block releases_active %} {% endblock %}">
            			<a href="./releases">
              				<i class="tim-icons icon-spaceship"></i>
              				<p>Releases</p>
            			</a>
          			</li>
          			<li class="{% block ratings_active %} {% endblock %}">
            			<a href="./ratings">
              				<i class="tim-icons icon-chart-bar-32"></i>
              				<p>Ratings</p>
            			</a>
          			</li>
          			<li>
            			<a href="/admin" target="_BLANK">
              				<i class="tim-icons icon-settings"></i>
              				<p>Admin</p>
            			</a>
          			</li>
        		</ul>
     		</div>
    	
    	
    	</div>	
    
    	<div class="main-panel" data="blue">
    	
    		<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        		<div class="container-fluid">
          			<div class="navbar-wrapper">
            			<div class="navbar-toggle d-inline">
              				<button type="button" class="navbar-toggler">
                				<span class="navbar-toggler-bar bar1"></span>
                				<span class="navbar-toggler-bar bar2"></span>
                				<span class="navbar-toggler-bar bar3"></span>
              				</button>
            			</div>
            			<a class="navbar-brand" href="javascript:void(0)">{% block title %}{{ title }}{% endblock %}</a>
          			</div>
         			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            			<span class="navbar-toggler-bar navbar-kebab"></span>
            			<span class="navbar-toggler-bar navbar-kebab"></span>
            			<span class="navbar-toggler-bar navbar-kebab"></span>
          			</button>
          			<div class="collapse navbar-collapse" id="navigation">
            			<ul class="navbar-nav ml-auto">
              				<li class="search-bar input-group">
                				<button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                  					<span class="d-lg-none d-md-block">Search</span>
                				</button>
              				</li>
             				<li class="separator d-lg-none"></li>
            			</ul>
          			</div>
        		</div>
      		</nav>
      		
      		<div class="content">
      		
      			{% block content %}
      			dummy
      			{% endblock %}
      			
      		</div>

			<footer class="footer">
        		<div class="container-fluid">
					<ul class="nav">
						<li class="nav-item">
							<a href="javascript:void(0)" class="nav-link">
								Creative Miro
							</a>
						</li>
						<li class="nav-item">
							<a href="javascript:void(0)" class="nav-link">
								About Us
							</a>
						</li>
						<li class="nav-item">
							<a href="javascript:void(0)" class="nav-link">
								Blog
							</a>
						</li>
					</ul>
					<div class="copyright">
						©
						<script>
              				document.write(new Date().getFullYear())
						</script>
						made with <i class="tim-icons icon-heart-2"></i> by
						<a href="javascript:void(0)" target="_blank">Creative MiRo</a>
					</div>
				</div>
      		</footer>
    	
    	</div>
    </div>
    
    <script src="{% static 'timeline/js/jquery.min.js' %}"></script>
  	<script src="{% static 'timeline/js/popper.min.js' %}"></script>
  	<script src="{% static 'timeline/js/bootstrap.min.js' %}"></script>
  
  	<script src="{% static 'timeline/js/black-dashboard.min.js' %}"></script>

  	{% block scripts %} {% endblock %}
  </body>
</html>